/*
dark blue - #0F1D26
grey blue - #2A2D40
grey - #6E6F73
white - #D9CCC1
orange - #D95A11
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EDF0F4;	
}

.body {
  padding-top: 20px;
}

.header {
  padding-top: 10px;
  padding-left: 50px;
  background-color: #FFFFFF;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  color: #0F1D26;
  font-weight: bold;
}